WebContent/wsdl/MicService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.mic.agh.edu.pl" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.mic.agh.edu.pl" xmlns:intf="http://ws.mic.agh.edu.pl" xmlns:tns1="http://model.mic.agh.edu.pl" xmlns:tns2="http://support.ektorp.org" xmlns:tns3="http://ektorp.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.mic.agh.edu.pl" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://ektorp.org"/>
   <import namespace="http://model.mic.agh.edu.pl"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://support.ektorp.org"/>
   <element name="getTicket">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTicketResponse">
    <complexType>
     <sequence>
      <element name="getTicketReturn" type="tns1:Ticket"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="getTickets">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTicketsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getTicketsReturn" type="tns1:Ticket"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllTickets">
    <complexType/>
   </element>
   <element name="getAllTicketsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllTicketsReturn" type="tns1:Ticket"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTicketHistory">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTicketHistoryResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getTicketHistoryReturn" type="tns1:Ticket"/>
     </sequence>
    </complexType>
   </element>
   <element name="takeOwnership">
    <complexType>
     <sequence>
      <element name="ticketId" type="xsd:string"/>
      <element name="userId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="takeOwnershipResponse">
    <complexType>
     <sequence>
      <element name="takeOwnershipReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="listTickets">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="listTicketsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="listTicketsReturn" type="tns1:Ticket"/>
     </sequence>
    </complexType>
   </element>
   <element name="addTicket">
    <complexType>
     <sequence>
      <element name="description" type="xsd:string"/>
      <element name="createdBy" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addTicketResponse">
    <complexType>
     <sequence>
      <element name="addTicketReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addDecission">
    <complexType>
     <sequence>
      <element name="ticketId" type="xsd:string"/>
      <element name="type" type="xsd:string"/>
      <element name="decidedBy" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addDecissionResponse">
    <complexType>
     <sequence>
      <element name="addDecissionReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="requestEval">
    <complexType>
     <sequence>
      <element name="ticketId" type="xsd:string"/>
      <element name="remarks" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="requestEvalResponse">
    <complexType>
     <sequence>
      <element name="requestEvalReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteDoc">
    <complexType>
     <sequence>
      <element name="ticketId" type="xsd:string"/>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteDocResponse">
    <complexType>
     <sequence>
      <element name="deleteDocReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAttachment">
    <complexType>
     <sequence>
      <element name="ticketId" type="xsd:string"/>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAttachmentResponse">
    <complexType>
     <sequence>
      <element name="getAttachmentReturn" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="evalEta">
    <complexType>
     <sequence>
      <element name="ticketId" type="xsd:string"/>
      <element name="time" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="evalEtaResponse">
    <complexType>
     <sequence>
      <element name="evalEtaReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="attachDoc">
    <complexType>
     <sequence>
      <element name="ticketId" type="xsd:string"/>
      <element name="name" type="xsd:string"/>
      <element name="mime" type="xsd:string"/>
      <element name="cotent" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="attachDocResponse">
    <complexType>
     <sequence>
      <element name="attachDocReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://ektorp.org"/>
   <import namespace="http://model.mic.agh.edu.pl"/>
   <import namespace="http://support.ektorp.org"/>
   <import namespace="http://ws.mic.agh.edu.pl"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://support.ektorp.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://ektorp.org"/>
   <import namespace="http://model.mic.agh.edu.pl"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://ws.mic.agh.edu.pl"/>
   <complexType name="CouchDbDocument">
    <sequence>
     <element name="attachments" nillable="true" type="apachesoap:Map"/>
     <element name="conflicts" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="new" type="xsd:boolean"/>
     <element name="revision" nillable="true" type="xsd:string"/>
     <element name="revisions" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.mic.agh.edu.pl" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://ektorp.org"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://support.ektorp.org"/>
   <import namespace="http://ws.mic.agh.edu.pl"/>
   <complexType name="Decision">
    <complexContent>
     <extension base="tns2:CouchDbDocument">
      <sequence>
       <element name="decidedBy" nillable="true" type="xsd:string"/>
       <element name="model" nillable="true" type="xsd:string"/>
       <element name="remarks" nillable="true" type="xsd:string"/>
       <element name="type" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="Ticket">
    <complexContent>
     <extension base="tns2:CouchDbDocument">
      <sequence>
       <element name="createdBy" nillable="true" type="xsd:string"/>
       <element name="createdDate" nillable="true" type="xsd:string"/>
       <element name="decision" nillable="true" type="tns1:Decision"/>
       <element name="description" nillable="true" type="xsd:string"/>
       <element name="eta" nillable="true" type="xsd:string"/>
       <element name="model" nillable="true" type="xsd:string"/>
       <element name="ownerId" nillable="true" type="xsd:string"/>
       <element name="status" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="requestEvalRequest">

      <wsdl:part element="impl:requestEval" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTicketHistoryRequest">

      <wsdl:part element="impl:getTicketHistory" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllTicketsResponse">

      <wsdl:part element="impl:getAllTicketsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTicketHistoryResponse">

      <wsdl:part element="impl:getTicketHistoryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listTicketsResponse">

      <wsdl:part element="impl:listTicketsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAttachmentResponse">

      <wsdl:part element="impl:getAttachmentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTicketsRequest">

      <wsdl:part element="impl:getTickets" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addDecissionResponse">

      <wsdl:part element="impl:addDecissionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTicketsResponse">

      <wsdl:part element="impl:getTicketsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addTicketRequest">

      <wsdl:part element="impl:addTicket" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addTicketResponse">

      <wsdl:part element="impl:addTicketResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAttachmentRequest">

      <wsdl:part element="impl:getAttachment" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="takeOwnershipRequest">

      <wsdl:part element="impl:takeOwnership" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTicketResponse">

      <wsdl:part element="impl:getTicketResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listTicketsRequest">

      <wsdl:part element="impl:listTickets" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="requestEvalResponse">

      <wsdl:part element="impl:requestEvalResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="takeOwnershipResponse">

      <wsdl:part element="impl:takeOwnershipResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="attachDocResponse">

      <wsdl:part element="impl:attachDocResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="evalEtaResponse">

      <wsdl:part element="impl:evalEtaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="attachDocRequest">

      <wsdl:part element="impl:attachDoc" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteDocResponse">

      <wsdl:part element="impl:deleteDocResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteDocRequest">

      <wsdl:part element="impl:deleteDoc" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllTicketsRequest">

      <wsdl:part element="impl:getAllTickets" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="evalEtaRequest">

      <wsdl:part element="impl:evalEta" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addDecissionRequest">

      <wsdl:part element="impl:addDecission" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTicketRequest">

      <wsdl:part element="impl:getTicket" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MicService">

      <wsdl:operation name="getTicket">

         <wsdl:input message="impl:getTicketRequest" name="getTicketRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTicketResponse" name="getTicketResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTickets">

         <wsdl:input message="impl:getTicketsRequest" name="getTicketsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTicketsResponse" name="getTicketsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllTickets">

         <wsdl:input message="impl:getAllTicketsRequest" name="getAllTicketsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllTicketsResponse" name="getAllTicketsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTicketHistory">

         <wsdl:input message="impl:getTicketHistoryRequest" name="getTicketHistoryRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTicketHistoryResponse" name="getTicketHistoryResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="takeOwnership">

         <wsdl:input message="impl:takeOwnershipRequest" name="takeOwnershipRequest">

       </wsdl:input>

         <wsdl:output message="impl:takeOwnershipResponse" name="takeOwnershipResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listTickets">

         <wsdl:input message="impl:listTicketsRequest" name="listTicketsRequest">

       </wsdl:input>

         <wsdl:output message="impl:listTicketsResponse" name="listTicketsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addTicket">

         <wsdl:input message="impl:addTicketRequest" name="addTicketRequest">

       </wsdl:input>

         <wsdl:output message="impl:addTicketResponse" name="addTicketResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addDecission">

         <wsdl:input message="impl:addDecissionRequest" name="addDecissionRequest">

       </wsdl:input>

         <wsdl:output message="impl:addDecissionResponse" name="addDecissionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="requestEval">

         <wsdl:input message="impl:requestEvalRequest" name="requestEvalRequest">

       </wsdl:input>

         <wsdl:output message="impl:requestEvalResponse" name="requestEvalResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteDoc">

         <wsdl:input message="impl:deleteDocRequest" name="deleteDocRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteDocResponse" name="deleteDocResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAttachment">

         <wsdl:input message="impl:getAttachmentRequest" name="getAttachmentRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAttachmentResponse" name="getAttachmentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="evalEta">

         <wsdl:input message="impl:evalEtaRequest" name="evalEtaRequest">

       </wsdl:input>

         <wsdl:output message="impl:evalEtaResponse" name="evalEtaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="attachDoc">

         <wsdl:input message="impl:attachDocRequest" name="attachDocRequest">

       </wsdl:input>

         <wsdl:output message="impl:attachDocResponse" name="attachDocResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MicServiceSoapBinding" type="impl:MicService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTicket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTicketRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTicketResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTickets">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTicketsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTicketsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllTickets">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllTicketsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllTicketsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTicketHistory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTicketHistoryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTicketHistoryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="takeOwnership">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="takeOwnershipRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="takeOwnershipResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listTickets">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listTicketsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listTicketsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addTicket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addTicketRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addTicketResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addDecission">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addDecissionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addDecissionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="requestEval">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="requestEvalRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="requestEvalResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteDoc">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteDocRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteDocResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAttachment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAttachmentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAttachmentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="evalEta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="evalEtaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="evalEtaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="attachDoc">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="attachDocRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="attachDocResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MicServiceService">

      <wsdl:port binding="impl:MicServiceSoapBinding" name="MicService">

         <wsdlsoap:address location="http://localhost:8080/mic/services/MicService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
