WebContent/wsdl/micservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MicServiceService" targetNamespace="http://ws.mic.agh.edu.pl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.mic.agh.edu.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xs:schema targetNamespace="http://ws.mic.agh.edu.pl/" version="1.0" xmlns:tns="http://ws.mic.agh.edu.pl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="addDecission" type="tns:addDecission"/>

  <xs:element name="addDecissionResponse" type="tns:addDecissionResponse"/>

  <xs:element name="addTicket" type="tns:addTicket"/>

  <xs:element name="addTicketResponse" type="tns:addTicketResponse"/>

  <xs:element name="attachDoc" type="tns:attachDoc"/>

  <xs:element name="attachDocResponse" type="tns:attachDocResponse"/>

  <xs:element name="deleteDoc" type="tns:deleteDoc"/>

  <xs:element name="deleteDocResponse" type="tns:deleteDocResponse"/>

  <xs:element name="deleteTicket" type="tns:deleteTicket"/>

  <xs:element name="deleteTicketResponse" type="tns:deleteTicketResponse"/>

  <xs:element name="evalEta" type="tns:evalEta"/>

  <xs:element name="evalEtaResponse" type="tns:evalEtaResponse"/>

  <xs:element name="getAllTickets" type="tns:getAllTickets"/>

  <xs:element name="getAllTicketsResponse" type="tns:getAllTicketsResponse"/>

  <xs:element name="getAttachment" type="tns:getAttachment"/>

  <xs:element name="getAttachmentResponse" type="tns:getAttachmentResponse"/>

  <xs:element name="getTicket" type="tns:getTicket"/>

  <xs:element name="getTicketHistory" type="tns:getTicketHistory"/>

  <xs:element name="getTicketHistoryResponse" type="tns:getTicketHistoryResponse"/>

  <xs:element name="getTicketResponse" type="tns:getTicketResponse"/>

  <xs:element name="getTickets" type="tns:getTickets"/>

  <xs:element name="getTicketsResponse" type="tns:getTicketsResponse"/>

  <xs:element name="listTickets" type="tns:listTickets"/>

  <xs:element name="listTicketsResponse" type="tns:listTicketsResponse"/>

  <xs:element name="requestEval" type="tns:requestEval"/>

  <xs:element name="requestEvalResponse" type="tns:requestEvalResponse"/>

  <xs:element name="takeOwnership" type="tns:takeOwnership"/>

  <xs:element name="takeOwnershipResponse" type="tns:takeOwnershipResponse"/>

  <xs:complexType name="getAllTickets">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAllTicketsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ticket"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ticket">
    <xs:complexContent>
      <xs:extension base="tns:couchDbDocument">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="attachmentNames" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="createdBy" type="xs:string"/>
          <xs:element minOccurs="0" name="createdDate" type="xs:string"/>
          <xs:element minOccurs="0" name="decision" type="tns:decision"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="eta" type="xs:string"/>
          <xs:element minOccurs="0" name="ownerId" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="couchDbDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="revision" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="decision">
    <xs:complexContent>
      <xs:extension base="tns:couchDbDocument">
        <xs:sequence>
          <xs:element minOccurs="0" name="remarks" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getTicketHistory">
    <xs:sequence>
      <xs:element name="ticketId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTicketHistoryResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ticket"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addTicket">
    <xs:sequence>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="createdBy" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addTicketResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addDecission">
    <xs:sequence>
      <xs:element name="ticketId" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="decidedBy" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addDecissionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAttachment">
    <xs:sequence>
      <xs:element name="ticketId" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAttachmentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:attachment"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="attachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" type="xs:string"/>
      <xs:element minOccurs="0" name="mime" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="ticketId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="attachDoc">
    <xs:sequence>
      <xs:element name="ticketId" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="mime" type="xs:string"/>
      <xs:element name="content" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="attachDocResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestEval">
    <xs:sequence>
      <xs:element name="ticketId" type="xs:string"/>
      <xs:element name="remarks" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestEvalResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTicket">
    <xs:sequence>
      <xs:element name="ticketId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTicketResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ticket"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteTicket">
    <xs:sequence>
      <xs:element name="ticketId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteTicketResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="evalEta">
    <xs:sequence>
      <xs:element name="ticketId" type="xs:string"/>
      <xs:element name="time" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="evalEtaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listTickets">
    <xs:sequence>
      <xs:element minOccurs="0" name="ownedByUserId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listTicketsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ticket"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteDoc">
    <xs:sequence>
      <xs:element name="ticketId" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteDocResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTickets">
    <xs:sequence>
      <xs:element name="createdByUserId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTicketsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ticket"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="takeOwnership">
    <xs:sequence>
      <xs:element name="ticketId" type="xs:string"/>
      <xs:element name="userId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="takeOwnershipResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="attachDoc">
    <wsdl:part name="parameters" element="tns:attachDoc">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="evalEta">
    <wsdl:part name="parameters" element="tns:evalEta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTicketHistory">
    <wsdl:part name="parameters" element="tns:getTicketHistory">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteDocResponse">
    <wsdl:part name="parameters" element="tns:deleteDocResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="evalEtaResponse">
    <wsdl:part name="parameters" element="tns:evalEtaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="takeOwnership">
    <wsdl:part name="parameters" element="tns:takeOwnership">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteTicket">
    <wsdl:part name="parameters" element="tns:deleteTicket">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="attachDocResponse">
    <wsdl:part name="parameters" element="tns:attachDocResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTickets">
    <wsdl:part name="parameters" element="tns:getTickets">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestEvalResponse">
    <wsdl:part name="parameters" element="tns:requestEvalResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestEval">
    <wsdl:part name="parameters" element="tns:requestEval">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="takeOwnershipResponse">
    <wsdl:part name="parameters" element="tns:takeOwnershipResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTicketResponse">
    <wsdl:part name="parameters" element="tns:getTicketResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTicket">
    <wsdl:part name="parameters" element="tns:getTicket">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllTickets">
    <wsdl:part name="parameters" element="tns:getAllTickets">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addTicketResponse">
    <wsdl:part name="parameters" element="tns:addTicketResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAttachment">
    <wsdl:part name="parameters" element="tns:getAttachment">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTicketsResponse">
    <wsdl:part name="parameters" element="tns:getTicketsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addTicket">
    <wsdl:part name="parameters" element="tns:addTicket">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDecissionResponse">
    <wsdl:part name="parameters" element="tns:addDecissionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listTickets">
    <wsdl:part name="parameters" element="tns:listTickets">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listTicketsResponse">
    <wsdl:part name="parameters" element="tns:listTicketsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAttachmentResponse">
    <wsdl:part name="parameters" element="tns:getAttachmentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTicketHistoryResponse">
    <wsdl:part name="parameters" element="tns:getTicketHistoryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteTicketResponse">
    <wsdl:part name="parameters" element="tns:deleteTicketResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllTicketsResponse">
    <wsdl:part name="parameters" element="tns:getAllTicketsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteDoc">
    <wsdl:part name="parameters" element="tns:deleteDoc">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDecission">
    <wsdl:part name="parameters" element="tns:addDecission">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MicServiceSEI">
    <wsdl:operation name="getAllTickets">
      <wsdl:input name="getAllTickets" message="tns:getAllTickets">
    </wsdl:input>
      <wsdl:output name="getAllTicketsResponse" message="tns:getAllTicketsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTicketHistory">
      <wsdl:input name="getTicketHistory" message="tns:getTicketHistory">
    </wsdl:input>
      <wsdl:output name="getTicketHistoryResponse" message="tns:getTicketHistoryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTicket">
      <wsdl:input name="addTicket" message="tns:addTicket">
    </wsdl:input>
      <wsdl:output name="addTicketResponse" message="tns:addTicketResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDecission">
      <wsdl:input name="addDecission" message="tns:addDecission">
    </wsdl:input>
      <wsdl:output name="addDecissionResponse" message="tns:addDecissionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAttachment">
      <wsdl:input name="getAttachment" message="tns:getAttachment">
    </wsdl:input>
      <wsdl:output name="getAttachmentResponse" message="tns:getAttachmentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachDoc">
      <wsdl:input name="attachDoc" message="tns:attachDoc">
    </wsdl:input>
      <wsdl:output name="attachDocResponse" message="tns:attachDocResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestEval">
      <wsdl:input name="requestEval" message="tns:requestEval">
    </wsdl:input>
      <wsdl:output name="requestEvalResponse" message="tns:requestEvalResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTicket">
      <wsdl:input name="getTicket" message="tns:getTicket">
    </wsdl:input>
      <wsdl:output name="getTicketResponse" message="tns:getTicketResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTicket">
      <wsdl:input name="deleteTicket" message="tns:deleteTicket">
    </wsdl:input>
      <wsdl:output name="deleteTicketResponse" message="tns:deleteTicketResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="evalEta">
      <wsdl:input name="evalEta" message="tns:evalEta">
    </wsdl:input>
      <wsdl:output name="evalEtaResponse" message="tns:evalEtaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listTickets">
      <wsdl:input name="listTickets" message="tns:listTickets">
    </wsdl:input>
      <wsdl:output name="listTicketsResponse" message="tns:listTicketsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDoc">
      <wsdl:input name="deleteDoc" message="tns:deleteDoc">
    </wsdl:input>
      <wsdl:output name="deleteDocResponse" message="tns:deleteDocResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTickets">
      <wsdl:input name="getTickets" message="tns:getTickets">
    </wsdl:input>
      <wsdl:output name="getTicketsResponse" message="tns:getTicketsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="takeOwnership">
      <wsdl:input name="takeOwnership" message="tns:takeOwnership">
    </wsdl:input>
      <wsdl:output name="takeOwnershipResponse" message="tns:takeOwnershipResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MicServiceServiceSoapBinding" type="tns:MicServiceSEI">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllTickets">
      <soap12:operation soapAction="urn:GetAllTickets" style="document"/>
      <wsdl:input name="getAllTickets">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllTicketsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTicketHistory">
      <soap12:operation soapAction="urn:GetTicketHistory" style="document"/>
      <wsdl:input name="getTicketHistory">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTicketHistoryResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTicket">
      <soap12:operation soapAction="urn:AddTicket" style="document"/>
      <wsdl:input name="addTicket">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addTicketResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDecission">
      <soap12:operation soapAction="urn:AddDecission" style="document"/>
      <wsdl:input name="addDecission">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addDecissionResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAttachment">
      <soap12:operation soapAction="urn:GetAttachment" style="document"/>
      <wsdl:input name="getAttachment">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAttachmentResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachDoc">
      <soap12:operation soapAction="urn:AttachDoc" style="document"/>
      <wsdl:input name="attachDoc">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="attachDocResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTicket">
      <soap12:operation soapAction="urn:GetTicket" style="document"/>
      <wsdl:input name="getTicket">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTicketResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestEval">
      <soap12:operation soapAction="urn:RequestEval" style="document"/>
      <wsdl:input name="requestEval">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="requestEvalResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTicket">
      <soap12:operation soapAction="urn:DeleteTicket" style="document"/>
      <wsdl:input name="deleteTicket">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteTicketResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="evalEta">
      <soap12:operation soapAction="urn:EvalEta" style="document"/>
      <wsdl:input name="evalEta">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="evalEtaResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listTickets">
      <soap12:operation soapAction="urn:ListTickets" style="document"/>
      <wsdl:input name="listTickets">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listTicketsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDoc">
      <soap12:operation soapAction="urn:DeleteDoc" style="document"/>
      <wsdl:input name="deleteDoc">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteDocResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTickets">
      <soap12:operation soapAction="urn:GetTickets" style="document"/>
      <wsdl:input name="getTickets">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTicketsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="takeOwnership">
      <soap12:operation soapAction="urn:TakeOwnership" style="document"/>
      <wsdl:input name="takeOwnership">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="takeOwnershipResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MicServiceService">
    <wsdl:port name="MicServicePort" binding="tns:MicServiceServiceSoapBinding">
      <soap12:address location="http://localhost:8080/mic/services/MicServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
